.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 height: auto;
 width:100vh;
}

.cardText {
  width: 100%;
  max-width: 100%; /* Ensure the container does not exceed the width of its parent */
  margin:0 auto; /* Center the container */
  padding: 0 20px;
  overflow: auto; /* Enable scrolling if content overflows */
    max-height: 100%; /* Set a maximum height as needed */
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 15px;
}
.cardText .button {
  padding-bottom: 5px;
}

.helptext[c-frontend_frontend] {
  position: relative;
  bottom: 2px;
}